---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/personallogo_SZ.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I'm a Front-End Developer located in India with over 6 years of
			experience.I work with agencies across the globe to create high perfomance
			and rich interactive websites that works across all platforms and devices.
		</p>
		<p>
			Interested in the entire frontend spectrum and working on ambitious
			projects with positive people.
		</p>
		<!-- <section class="mt-16">
			<h2 class="mb-4 text-xl title">Experience</h2>
			<ul class="space-y-4 sm:space-y-2">
				<li>
					<a href="https://prelaunchers.xyz/" class="inline-block cactus-link"
						>Prelaunchers
					</a>:
					<p class="inline-block sm:mt-2">
						A platform to find upcoming products for early adopters.
					</p>
				</li>
				<li>
					<a href="#" class="inline-block cactus-link">Libraries/Frameworks</a>:
					<p class="inline-block sm:mt-2">ReactJS, NextJS, Gatsby, ExpressJS</p>
				</li>
				<li>
					<a href="#" class="inline-block cactus-link"
						>UI Libraries/Frameworks
					</a>:
					<p class="inline-block sm:mt-2">
						Tailwind,MUI,Mantine Bootstrap,Bulma.
					</p>
				</li>
			</ul>
		</section> -->
		<!-- <div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div> -->
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-disc list-inside">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
		</ul> -->
	</div>
</PageLayout>
