---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";
import { inject } from "@vercel/analytics";

inject();

const meta = {
	title: "Syed Zoheb",
	description: "Front end ReactJs developer.",
};

const MAX_POSTS = 5;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hey There!</h1>
		<p class="mb-4">
			I'm Syed Zoheb, a frontend developer working mostly on ReactJS. On the
			side, I try to build smalls apps that helps people and also helps me
			growing my knowledge.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Latest Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Side Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a href="https://prelaunchers.xyz/" class="inline-block cactus-link"
					>Prelaunchers
				</a>:
				<p class="inline-block sm:mt-2">
					A platform to find upcoming products for early adopters.
				</p>
			</li>
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Tech Stack</h2>
		<p class="mb-4">Here are the things that i work with:</p>
		<ul class="list-disc list-inside">
			<li class="mb-2">
				<span class="cactus-link">Languages</span>: Javascript, Typescript
			</li>
			<li class="mb-2">
				<span class="cactus-link">Libraries/Framewroks</span>: ReactJS, NextJS,
				Gatsby, ExpressJS
			</li>
			<li class="mb-2">
				<span class="cactus-link">UI Libraries/Frameworks</span>: Tailwind, MUI,
				Mantine, Bootstrap, Bulma.
			</li>
			<!-- <li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li> -->
		</ul>
	</section>
</PageLayout>
